jupyter_dash==0.4.2
dash_bootstrap_components==1.4.1
dash==2.10.2
dash_core_components==2.0.0
dash_html_components==2.0.0
plotly==5.15.0
dash_table==5.0.0
pandas==2.0.2
numpy==1.24.3
cvxopt==1.3.1
scikit-learn==1.2.2
scipy==1.10.1
pandasql==0.7.3
tqdm==4.65.0
dash-editor-components==0.0.2
shap==0.41.0
xgboost==1.7.5
catboost==1.2
scikit-learn==1.2.2
h2o==3.40.0.4
pyrebase
pytest